/* ---- Fonts / Colors ---- */

@font-face {
	font-family: 'Roboto';
	src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: 'Roboto';
	font-weight: bold;
	src: url("/fonts/Roboto-Bold.ttf");
}
@font-face {
	font-family: 'Roboto Mono';
	src: url("/fonts/RobotoMono-Regular.ttf");
}

* {
    xmc-border-color-gray: rgb(204, 204, 204);
    xmc-background-color-lightgray: rgb(248, 248, 248);
    xmc-akzent-1: rgb(32, 56, 100);
	-fx-font-family: "Roboto" !important;
}

.background-akzent-1 {
    -fx-background-color: xmc-akzent-1;
}

.bold, .bold * {
    -fx-font-weight: bold;
}

.mono, .mono * {
	-fx-font-family: "Roboto Mono" !important;
}

.underline {
    -fx-underline: true;
}

.text-white, .text-white * {
    -fx-text-fill: white;
    -fx-fill: white;
}

.text-red, .text-red * {
    -fx-text-fill: red;
    -fx-fill: red;
}

.hand {
    -fx-cursor: hand;
}

/* ---- Validation ---- */

.textfield-invalid, .passwordfield-invalid {
    border_color: red !important;
    border_hover_color: rgb(255, 100, 100) !important;
    border_disabled_color: red !important;
}

/* ---- Components ---- */

.toolbar {
    -fx-border-color:
            xmc-background-color-lightgray
            xmc-background-color-lightgray
            xmc-border-color-gray
            xmc-background-color-lightgray;
    -fx-background-color: xmc-background-color-lightgray;
}

.statusbar {
    -fx-border-color:
            xmc-border-color-gray
            xmc-background-color-lightgray
            xmc-background-color-lightgray
            xmc-background-color-lightgray;
}

.check-box {
    -fx-label-padding: 0px 10px 0px 10px;
}

.radio-button {
	-fx-padding: 0px 0px 5px 0px;
}

.form-label {
    -fx-padding: 15px 0px 5px 0px;
}

.form-label-first {
    -fx-padding: 0px 0px 5px 0px;
}

.text-field, .button, .combo-box, .date-picker {
	-fx-min-height: 30px;
	-fx-max-height: 30px;
}

.image-selection-button {
	-fx-min-height: 64px !important;
	-fx-min-width: 64px !important;
	-fx-max-height: 64px !important;
	-fx-max-width: 64px !important;
}

/* ---- Spacing ---- */

.padding-left-15 {
    -fx-padding: 0px 0px 0px 15px;
}

.padding-15 {
    -fx-padding: 15px;
}
