.background-akzent-1 {
    -fx-background-color: rgb(32, 56, 100);
}

.bold {
    -fx-font-weight: bold;
}

.textfield-invalid, .passwordfield-invalid {
    border_color: red !important;
    border_hover_color: rgb(255, 100, 100) !important;
    border_disabled_color: red !important;
}