/* ---- Fonts / Colors ---- */

@font-face {
	font-family: 'Roboto';
	src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: 'Roboto';
	font-weight: bold;
	src: url("/fonts/Roboto-Bold.ttf");
}
@font-face {
	font-family: 'Roboto Mono';
	src: url("/fonts/RobotoMono-Regular.ttf");
}

* {
	-fx-font-family: "Roboto" !important;
    xmc-akzent-1: rgb(32, 56, 100);
}

.root-light {
    xmc-border-color-1: rgb(204, 204, 204);
    xmc-background-color-1: rgb(248, 248, 248);
    xmc-background-color-2: white;
}

.root-dark {
	xmc-border-color-1: black;
	xmc-background-color-1: rgb(30, 30, 30);
	xmc-background-color-2: rgb(51, 51, 51);
	xmc-background-color-3: rgb(37, 37, 37);

	-fx-background-color: xmc-background-color-3;
}

.root-dark .text-input {
	background_focused_color: rgb(17, 17, 17) !important;
	text_focused_color: white !important;
}

.background-akzent-1 {
    -fx-background-color: xmc-akzent-1;
}

.bold, .bold * {
    -fx-font-weight: bold;
}

.mono, .mono * {
	-fx-font-family: "Roboto Mono" !important;
}

.underline {
    -fx-underline: true;
}

.text-white, .text-white * {
    -fx-text-fill: white;
    -fx-fill: white;
}

.text-red, .text-red * {
    -fx-text-fill: red;
    -fx-fill: red;
}

.hand {
    -fx-cursor: hand;
}

/* ---- Validation ---- */

.textfield-invalid, .passwordfield-invalid {
    border_color: red !important;
    border_hover_color: rgb(255, 100, 100) !important;
    border_disabled_color: red !important;
}

/* ---- Components ---- */

.tool-bar {
    -fx-border-color:
            xmc-background-color-1
            xmc-background-color-1
            xmc-border-color-1
            xmc-background-color-1;
    -fx-background-color: xmc-background-color-1 !important;
}

.tool-bar > HBox {
	-fx-background-color: xmc-background-color-1 !important;
}

.tool-bar-border {
	-fx-border-color: xmc-border-color-1 !important;
}

.statusbar {
	-fx-background-color: xmc-background-color-1;

    -fx-border-color:
            xmc-border-color-1
            xmc-background-color-1
            xmc-background-color-1
            xmc-background-color-1;
}

.check-box {
    -fx-label-padding: 0px 10px 0px 10px;
}

.radio-button {
	-fx-padding: 0px 0px 5px 0px;
}

.form-label {
    -fx-padding: 15px 0px 5px 0px;
}

.form-label-first {
    -fx-padding: 0px 0px 5px 0px;
}

.text-field, .button, .combo-box, .date-picker {
	-fx-min-height: 30px;
	-fx-max-height: 30px;
}

.image-selection-button {
	-fx-min-height: 64px !important;
	-fx-min-width: 64px !important;
	-fx-max-height: 64px !important;
	-fx-max-width: 64px !important;
}

.text-input > Pane {
	-fx-background-color: transparent !important;
}

.dashboard-grid-pane Line {
	-fx-stroke: gray;
}

.dashboard-tile-hover {
	-fx-border-width: 1 1 1 1;
	-fx-border-color: xmc-border-color-1;
}

.dashboard-content-tile {
	-fx-border-width: 2 2 2 2;
	-fx-border-color: xmc-akzent-1;
	-fx-background-color: white;
}

.dashboard-content-tile .title-label {
	-fx-background-color: xmc-akzent-1;
	-fx-text-fill: white;
}

.dashboard-content-tile .title-bar {
	-fx-background-color: xmc-akzent-1;
}

/* ---- Spacing ---- */

.padding-left-15 {
    -fx-padding: 0px 0px 0px 15px;
}

.padding-15 {
    -fx-padding: 15px;
}
