<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}[%thread] %-5level - %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="UIOUT" class="io.github.matwein.xmc.fe.stages.main.logging.LogsAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}[%thread] %-5level - %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${system.home.log.dir}/xmc.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${system.home.log.dir}/xmc.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{dd.MM.yyyy HH:mm:ss.SSS}[%thread] %-5level - %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
    	<appender-ref ref="STDOUT" />
    </appender>

	<appender name="ASYNC_UIOUT" class="ch.qos.logback.classic.AsyncAppender">
    	<appender-ref ref="UIOUT" />
    </appender>
    
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
    	<appender-ref ref="FILE" />
    </appender>

	<logger name="io.github.matwein.xmc" level="DEBUG" />
	<logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="ERROR" />
	<logger name="org.hibernate.orm.deprecation" level="ERROR" />
	<logger name="org.springframework.boot.autoconfigure.orm.jpa.DatabaseLookup" level="ERROR" />
	<logger name="com.zaxxer.hikari.pool.ProxyConnection" level="ERROR" />
	<logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR" />
	<logger name="org.hibernate.engine.jdbc.env.internal.JdbcEnvironmentInitiator" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="ASYNC_STDOUT" />
		<appender-ref ref="ASYNC_FILE" />
		<appender-ref ref="ASYNC_UIOUT" />
	</root>
</configuration>
