.logo-label {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.version-label {
    -fx-font-size: 10;
    -fx-text-fill: white;
}

#unsafeWarningLabel {
    -fx-font-size: 10;
    -fx-text-fill: red;
}