.progress-view {
    -fx-border-color:
            xmc-border-color-1
            xmc-border-color-1
            xmc-border-color-1
            xmc-border-color-1;
}

.progress-view-element {
    -fx-padding: 15px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: xmc-border-color-1;
}

.progress-view-element .label {
    -fx-padding: 0px 0px 10px 0px;
}