
.transaction-view-pane .transaction-view {
	-fx-pref-height: 80.0;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: xmc-border-color-1;
}

.transaction-view-pane .positive-value {
	-fx-text-fill: green;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.transaction-view-pane .negative-value {
	-fx-text-fill: red;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.dashboard-content-tile, .spinner-pane {
	-fx-background-color: xmc-background-color-2;
}

.dashboard-grid-pane Line {
	-fx-stroke: gray;
}

.dashboard-tile-hover {
	-fx-border-width: 1 1 1 1;
	-fx-border-color: xmc-border-color-1;
}

.dashboard-content-tile {
	-fx-border-width: 2 2 2 2;
	-fx-border-color: xmc-akzent-1;
	-fx-background-color: white;
}

.dashboard-content-tile .title-label {
	-fx-background-color: xmc-akzent-1;
	-fx-text-fill: white;
}

.dashboard-content-tile .title-bar {
	-fx-background-color: xmc-akzent-1;
}
